:root {
    --background-color: rgb(245, 245, 245);
    --background-color-dark: rgb(236, 236, 236);
    --background-color-light: rgb(255, 255, 255);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --black-alpha: rgb(0, 0, 0, 0.1);
    --white-alpha: rgb(255, 255, 255, 0.1);
    --text-color: rgb(255, 255, 255);
    --text-color-dark: rgb(231, 231, 231);
    --text-color-ultra-dark: rgb(35, 35, 35);
    --main: rgb(254, 93, 159);
    --main-dark: rgb(192, 70, 121);
    --main-shadow: rgba(254, 93, 159, 0.3);
    --green: rgb(67, 233, 116);
    --green-dark: rgb(46, 97, 62);
    --green-shadow: rgba(67, 233, 116, 0.3);
    --red: rgb(233, 67, 67);
    --red-dark: rgb(110, 60, 60);
    --red-shadow: rgba(233, 67, 67, 0.3);
}