@font-face {
  font-family: "Unbounded";
  src: url("./../../fonts/Unbounded/Unbounded-VariableFont_wght.ttf");
}

html,
body {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  background-color: var(--background-color);
  color: var(--text-color);

  font: 12pt "Unbounded", sans-serif;
  font-weight: 300;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  background-color: rgb(35, 35, 35);

  transition: all 0.5s cubic-bezier(0.37, 0.05, 0.13, 0.98);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  border: none;
  outline: none;

  text-align: center;
  border-radius: 20px;

  font: 12pt "Unbounded", sans-serif;
  font-weight: 300;

  background-color: var(--main);
  color:  white;

  transition: all 0.5s cubic-bezier(0.37, 0.05, 0.13, 0.98);
}

button:hover {
  background-color: var(--main-dark);
  transform: scale(0.95);
}

input[type="number"],
input[type="text"],
input[type="password"] {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;

  border: 2px solid transparent;
  outline: none;

  text-align: center;
  border-radius: 20px;

  font: 12pt "Unbounded", sans-serif;
  font-weight: 300;

  background-color: rgba(0, 0, 0, 0.2);
  color:  white;

  transition: all 0.5s cubic-bezier(0.37, 0.05, 0.13, 0.98);
}

input[type="number"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  border: 2px solid var(--main);
  padding-left: 25px;
  padding-right: 25px;
}

#svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

svg {
  padding: 10px;
  width: 14pt;
  height: 14pt;
  fill: var(--main);
}

.main-container {
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;  

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.main-container > * {
  width: 100%;
  margin-bottom: 10px;
}

.main-container > *:last-child {
  margin-bottom: 0px;
}

.main-container .interval-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  white-space: nowrap;
}

.toggle-button-container {
  margin-top: 10px;
}

.toggle-button-container #toggle-button {
  width: 100%;
}